name: Build Image with TAG - ATREE

on:
  push:
    tags:
      - "v*" # Automatically triggers workflow when a tag starting with "v" is pushed

jobs:
  build:
    name: Build and Push Docker Image to AWS ECR
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Extract TAG from GITHUB_REF
        id: extract_tag
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Log in to Amazon ECR
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_ATREE }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_ATREE }}
          AWS_REGION: ${{ secrets.AWS_REGION_NAME }}
        run: |
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin ${{ secrets.ECR_ACCOUNT_ATREE }}

      - name: Build, Tag, and Push Docker Image
        env:
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY_ATREE }}
          AWS_REGION: ${{ secrets.AWS_REGION_NAME }}
        run: |
          echo "Building and pushing image with tag: $TAG" && ls -ltra
          echo "Creating .env file from secrets"
          echo '${{ secrets[github.event.inputs.environment + "_ENV_ATREE"] }}' > .env && ls -ltra
          docker build -f Dockerfile.atree -t $ECR_REPOSITORY:$TAG .
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin ${{ secrets.ECR_ACCOUNT_ATREE }}
          docker push $ECR_REPOSITORY:$TAG
